<div class="">
  <div class="img">
    <h1>WHAT IS "GOOD" ??</h1>
    <h2 class="h2-tag">このアプリ「Good」とは？</h2>
    <div class="outer-div">
      <div class="p-div">
        <p class="about-p">買ってよかったものを共有するアプリです。生活を豊かにするものを共有することで、人生をもっとより良いものにしましょう。</p>
      </div>
    </div>
  </div>
</div>
