// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-btn-like {
  color: red;
}

.like-btn-unlike {
  color: #8899a6;
}

.inner-div {
  background: white;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.2);
}

.i {
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
}

#pagenation {
  padding-top: 30px;
  background: #f4f4f4;
}

.post-image-div {
  padding-top: 20px;
  margin-top: 20px;
}

.post-userimage-name-div {
  margin-top: 20px;
  padding-left: 30px;
}

.image_tag {
  border-radius: 50%;
  background-size: cover;
  background-position-x: center;
}

.post-title-create-div {
  margin-top: 20px;
}

.post-create-div {
  margin-top: 20px;
  padding-right: 30px;
  font-size: 10px;
}

.page-item {
  width: 35px;
  height: 35px;
  margin: 0 !important;
  line-height: 35px;
  background: #cccccc;
}

.active {
  background: #999999;
}

.page-letters {
  color: white;
}

.page-ul {
  padding-bottom: 20px;
}

.show-post {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.boximg {
  width: 500px;
  height: 500px;
  background-position-x: center;
}

.feed {
  width: 100%;
}

.h2-title {
  margin-top: 25px;
}

.left-img {
  padding-right: 0 !important;
}

.right-letters {
  width: 500px;
  padding-left: 0 !important;
  background: #f5f5f5;
  position: relative;
}

.right-letters::before {
  content: '';
  position: absolute;
  top: 40%;
  right: 100%;
  border-style: solid;
  border-width: 30px 30px 30px 0;
  border-color: transparent #f5f5f5 transparent transparent;
  line-height: 0px;
}

.left-content {
  padding: 0 15px;
  margin-top: 30px;
}

.destination-flex {
  display: flex;
}

.make-favorite p {
  margin: 0;
}

.outer-destination-flex {
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-image-and-name {
  padding-right: 20px;
}

.user-image-and-name img {
  border-radius: 50%;
}

.edit-delete-button {
  padding-right: 20px;
}

.make-favorite {
  padding-left: 20px;
}

.navbar {
  width: 100%;
}

.collapse {
  justify-content: flex-end;
}

@media screen and (max-width: 991px){
  .cover-all {
    height: 1500px;
  }
  
  .nav-link:not(.login-li){
    text-align: left;
  }

  .show-post {
    display: block;
  }

  .h2-title {
    padding-top: 20px;
  }

  .right-letters {
    display: inline-block;
  }

  .outer-destination-flex {
    position: relative;
  }

  .destination-flex {
    display: flex;
    justify-content: flex-end;
  }

  .right-letters::before {
    display: none;
  }

  .su {
    max-width: 450px;
  }

}

@media screen and (max-width: 500px){
  .su {
    max-width: 380px;
  }

  #post_content {
    width: 90%;
  }
}

@media screen and (min-width:992px) {
  .i {
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width:550px) {
  .boximg {
    width: 400px;
  }

  .right-letters {
    width: 400px;
  }
}

@media screen and (max-width:425px) {
  .i {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
  }

  .cover-all {
    height: 1250px;
  }

  .boximg {
    width: 350px;
    height: 350px;
  }

  .right-letters {
    width: 350px;
  }
}

@media screen and (max-width:375px) {
  .boximg {
    width: 300px;
    height: 300px;
  }

  .right-letters {
    width: 300px;
  }

  .row2, .row4 {
    margin: 0 !important;
  }
}

@media screen and (max-width:320px) {
  .row3 {
    margin: 0 !important;
  }
}