// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 320px){
  .body {
    padding: 0;
  }
}
.no-gutters {
  margin:0;
  padding:0;
}
 
.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}

.row {
  height: 600px;
}

input[type="text"], input[type="password"], input[type="submit"] {
  width: 380px;
  height: 40px;
  padding: 0 13px;
  border: none;
}

input[type="submit"] {
  background-color: black;
  color: white;
  transition: .3s;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}


input[type="submit"]:hover {
  box-shadow: none;
}

@media screen and (max-width: 425px){
  input[type="text"], input[type="password"], input[type="submit"] {
    width: 90%;
  }
  
  input[type="submit"] {
    width: 90%;
  }
}

#post_content {
  padding: 0 13px;
  border: none !important;
}


.email-div, .name-div, .password-div, .content-div {
  margin-bottom: 20px;
}

.submit-div {
  margin-top: 100px;
}

.edit-submit-div {
  margin-top: 30px;
}

.post-tag {
  margin-top: 60px;
}

.user-edit-tag {
  margin-top: 40px;
}

.upfile-div {
  margin-top: 50px;
}

.surround {
  height: 100%;
  padding: 20px 0;
  display: inline-block;
  background: #f3f3f3;
}

@media screen and (min-width: 501px){
  .inner-surround {
    width: 600px;
  }
}

.h2tag {
  padding-bottom: 45px;
  padding-top: 100px;
}

.h2tag-new {
  padding-bottom: 45px;
  padding-top: 40px;
}

.new_post_tag {
  margin-top: 20px;
}

.left-div, .right-div, .new-left-div, .new-right-div  {
  padding: 0 !important;
}

.left-div, .new-left-div {
  background-color: rgb(231,231,231);
}

.right-div {
  background-image: url("/assets/glass.jpg");
  background-size: cover;
  background-position-y: -260px;
  transition: .6s;
}

.right-div:hover {
  background-image: url("/assets/hunger.jpg");
  background-size: cover;
  background-position-y: -190px;
}

.user-edit-delete-image {
  background-image: url("/assets/green_glass.jpg");
  background-size: cover;
  // background-position-y: -260px;
  background-repeat: no-repeat;
  transition: .6s;
} 

.user-edit-delete-image:hover {
  background-image: url("/assets/green_door.jpg");
  background-size: cover;
  // background-position-y: -190px;
  background-repeat: no-repeat;
}

.new-right-div {
  background-image: url("/assets/camera.jpg");
  background-size: cover;
  background-position-y: -380px;
  transition: .6s;
}

.new-right-div:hover {
  background-image: url("/assets/man_and_woman.jpg");
  background-size: cover;
  // background-position-y: -500px;
}

@media screen and (max-width: 1440px){
  .new-right-div:hover {
    background-size: 90%;
  }

  .new-right-div {
    background-position-y: -280px;
    transition: .6s;
  }
}

@media screen and (max-width: 1120px){
  .new-right-div:hover {
    background-size: 120%;
  }

  .new-right-div {
    background-position-y: -160px;
    transition: .6s;
  }
}

@media screen and (max-width: 1170px){
  .new-right-div:hover {
    background-size: 100%;
  }
}

@media screen and (max-width: 1036px){
  .new-right-div:hover {
    background-size: 100%;
  }

  .new-right-div {
    background-position-y: -140px;
    transition: .6s;
  }
}

.setting-div, .delete-div {
  width: 380px;
  height: 40px;
  padding: 0 13px;
  border: none;
  display: inline-block;
  background: white;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.setting-div a, .delete-div a {
  line-height: 40px;
  font-size: 20px;
}

.delete-div a {
  color: #cc6666;
}

.setting-div {
  margin-top: 250px;
}

.delete-div {
  margin-top: 40px;
}

.tab-pane {
  background: none;
}

.outer-profile {
  display: inline-block;
  margin: 30px 0 10px 0;
}

.profile {
  display: flex;
  justify-content: center;
  width: 300px;
  position: relative;
  background: #f6ede3;
  box-shadow: 0px 0px 0px 5px #f6ede3;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}
.profile:after {
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #f8f9fa #fff #f8f9fa;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.profile img {
  margin: 0;
  border-radius: 50%;
}

.profile p {
  height: 100%;
  line-height: 100px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

@media screen and (max-width: 991px){
  .new-right-div {
    display: none;
  }

  .right-div {
    display: none;
  }
}

@media screen and (max-width: 375px){
  .setting-div {
    width: 300px;
  }

  .delete-div {
    width: 300px;
  }
}

@media screen and (max-width: 1174px){
  .right-div {
    background-position-y: 0;
  }

  .right-div:hover {
    background-position-y: 0;
  }
}